fastapi
uvicorn

pydantic
pydantic-settings

sqlalchemy
psycopg2-binary

pgvector

pandas
numpy

requests
beautifulsoup4

scrapy

spacy
langdetect

sentence-transformers

google-generativeai

pdfplumber

pytesseract

Pillow

yt-dlp

youtube-transcript-api

python-dotenv

pytest

pyyaml

rich
